:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;
  --fw-extra-bold: 800;
  --fw-normal: 500;
  --fs-small: 0.875rem;
  --fs-med: 1rem;
  --fs-large: 1.5rem;
  --line-height: 1.5;
}

body {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "FigTree";
  background-color: var(--yellow);
  font-size: var(--fs-small);
  color: var(--gray-950);
  line-height: var(--line-height);
}

main {
  background-color: var(--white);
  max-width: 384px;
  border-radius: 20px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px var(--gray-950);
  overflow: hidden;
  padding: 24px;
}

img {
  border-radius: 10px;
}

main:hover {
  cursor: pointer;
}

h2:hover,
h2:focus-visible {
  cursor: pointer;
  color: var(--yellow);
}

.type {
  font-weight: var(--fw-extra-bold);
  background-color: var(--yellow);
  width: fit-content;
}

.type p {
  padding: 4px 12px;
  margin: 24px 0 0 0;
}

.pub-date {
  margin: 8px 0 0 0;
}

h2 {
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-large);
  margin: 12px 0 0 0;
}

.desc {
  font-size: var(--fs-med);
  color: var(--gray-500);
  margin: 12px 0 0 0;
}

.author {
  display: flex;
  align-items: flex-start;
  gap: 0.875em;
  margin: 24px 0 0 0;
}

.author img {
  max-height: 32px;
  max-width: 32px;
}

.authorName {
  font-weight: var(--fw-extra-bold);
  margin: 8px;
}
